<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680020835840-a4iu3q8e15ma405mtoquq1hbphh01ngk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680020835840-a4iu3q8e15ma405mtoquq1hbphh01ngk</string>
	<key>API_KEY</key>
	<string>AIzaSyBGRTVTspNlLFneScEAT3_kDH_a8eudXps</string>
	<key>GCM_SENDER_ID</key>
	<string>680020835840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingList</string>
	<key>PROJECT_ID</key>
	<string>blog-d05ca</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-d05ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680020835840:ios:5ea424b6e87d7751a4a2e5</string>
</dict>
</plist>